<div class=container>
	<div class =row>
		<divclass = col-md-12>
			<div>
				<h1>Idea: <%= @idea.title %></h1>	
			</div>

			<div>
				<h5>Description:  <%= simple_format(@idea.description) %></h5>	
			</div>
			<div>
				<p>Analysis:  <%= simple_format(@idea.analysis_content) %></p>	
			</div>
			<p><%= link_to 'Back to index', ideas_path ,:class => "btn btn-primary" %></p>
		</div>
	</div>
</div>

